body {
	@extend %flex;
}

/*UI components*/
%icon {
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}

%ir {
	text-indent: -9999px;
}

%icon__size {
	background-size: contain;
}

%menu-icon {
	@extend %icon;
	height: 48px;
	width: 48px;
	display: inline-block;
	background-image: url(img/ui/menu.png);
	.svg & {
		background-image: url(img/ui/menu.svg);
		@extend %icon__size;
	}
}

%btn {
	@extend %mega-small;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 100%;
	padding: 0.5em;
	
}

%btn--fancy {
	@extend %btn;
	color: $secondary-brand;
	border: $secondary-brand 3px solid;
	transition: all 0.6s ease-in-out;
	&:hover {
		color: $tertiary-brand;
		border: $tertiary-brand 3px solid
	}
}

.wrapper, %wrapper{
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

.content-wrapper, %content-wrapper {
	max-width: 710px;
	margin-left: auto;
	margin-right: auto;
}

// Base elements
img {
	max-width: 100%;
}

// Form styles
textarea {
	max-width: 95%;
}

input[type="text"] {
	display: block;
	background: grey;
	height: 30px;
	width: 280px;
	border: 0;
}

// Header area
.global_nav {
	// padding: 20px 0;
}

.logo {
	background: black;
	display: inline-block;
	&__text {
		@extend %heading-5;
		margin: 0;
		line-height: 100%;
		text-transform: uppercase;
	}
	&__link {
		color: white;
		text-decoration: none;
		padding: 0.5rem 1.2rem;
	}
}

.btn {
	@extend %btn;
	&--menu {
		@extend %btn;
		@extend %ir;
		background: $brand;
	}
}

// Nav styles
.navigation {
	@extend %full-height;
	@extend %default-transition;
	background: black;
	padding: $three-quarter-spacing-unit;
}

// Refactor with custom classes
.menu-main-container {

}

.menu {
	@extend %list-reset;
	&-item {
		&:first-child {
			a {
				color: $secondary-brand;
			}
		}
		a {
			@extend %decoration-none;
			color: white;
		}
	}
}

.closer {
	@extend %ir;
}

.share_links {
	@extend %list-reset;
	&__item {
		color: white;
		&--secondary-brand {

		}
	}
}

.link-list {
	&__title {
		color: $base_grey;
	}
	&__item {
		color: white;
		&__link {
			@extend %decoration-none;
			color: white;
		}
	}
	&--reverse {
		&__title {
			color: white;
		}
		&__item {
			&__link {
				color: $darker_grey;
			}
		}
	}
}

#navigation {
	&:target {
		transform: translateX(0);
	}
}

#map-canvas {
	height: 200px; margin: 0; padding: 0;
}